<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-EohfsGwyD1Vvru0TBjK8npXhivJ0zB7Tvy/PyT/70g58MzBAKjMw3a25h4tN4Tk9z/rI+tgKryUXJOZJW8d+Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/lessonsStyles.css" />
    <script src="/js/english.js"></script>
  </head>
  <body>
    <%- include('../header.ejs') %>
    <main>
      <div id="cooltext">
        <h1>Ești pe drumul către a deveni mai vorbareț</h1>
      </div>
    </main>
  </body>
</html>
