<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="css/404styles.css" />
    <script src="/js/404.js"></script>
  </head>
  <body>
    <div id="container">
      <h1>404 Page Not Found</h1>
    </div>

    <script src="script.js"></script>
  </body>
</html>
