<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/coursesStyles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Konkhmer Sleokchher"
      rel="stylesheet"
    />
    <title>Courses</title>
  </head>
  <body>
    <%- include('./header.ejs') %>
    <main>
      <div class="coursesContainer">
        <div class="courseCard">
          <a href="/courses/english">
            <div class="course-info">
              <h2 class="course-title">Engleză</h2>
              <p class="course-description">Learn English!</p>
            </div>
            <div class="course-icon"><i class="fas fa-english"></i></div>
          </a>
        </div>
        <div class="courseCard">
          <a href="#">
            <div class="course-info">
              <h2 class="course-title">Engleză</h2>
              <p class="course-description">Learn English!</p>
            </div>
            <div class="course-icon"><i class="fas fa-english"></i></div>
          </a>
        </div>
        <div class="courseCard">
          <a href="#">
            <div class="course-info">
              <h2 class="course-title">Engleză</h2>
              <p class="course-description">Learn English!</p>
            </div>
            <div class="course-icon"><i class="fas fa-english"></i></div>
          </a>
        </div>
        <div class="courseCard">
          <a href="#">
            <div class="course-info">
              <h2 class="course-title">Engleză</h2>
              <p class="course-description">Learn English!</p>
            </div>
            <div class="course-icon"><i class="fas fa-english"></i></div>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
