<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/headerStyles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Konkhmer Sleokchher"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <a href="/"><h1>Vorbăreț</h1></a>
      <nav class="navContainer">
        <div class="contact">
          <h1>Contact</h1>
          <ul id="contact-list" class="sublist">
            <li>blaaasdasdasdasd</li>
            <li>blaasdasdasd</li>
            <li>blaasdasda</li>
          </ul>
        </div>
        <div class="cursuri">
          <a href="/courses"><h1>Cursuri</h1></a>
          <ul id="cursuri-list" class="sublist">
            <a href="/courses/english"><li>Engleză</li></a>
          </ul>
        </div>
        <div class="signin">
          <h1>Cont</h1>
          <ul id="signin-list" class="sublist">
            <a href="/signin"><li>SignIn</li></a>
            <a href="/signup"><li>Signup</li></a>
            <a href="/profil"><li>Profil</li></a>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
