<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Konkhmer Sleokchher"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
    />
    <title>Vorbaret.ro</title>
  </head>
  <body>
    <%- include('./header.ejs') %>
    <main>
      <h1>Fii Vorbăreț in orice limbă dorești</h1>
      <div>
        <a href="" class="button">Începe să vorbești</a>
      </div>
    </main>
  </body>
</html>
