<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link href='https://fonts.googleapis.com/css?family=Konkhmer Sleokchher' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
    <title>Vorbaret.ro</title>
  </head>
  <body>
    <header>
      <h1>Vorbăreț</h1>
      <nav class="navContainer">
        <div class="contact">
          <h1>Contact</h1>
          <ul id="contact-list" class="sublist">
            <li>bla</li>
            <li>bla</li>
            <li>bla</li>
          </ul>
        </div>
        <div class="cursuri">
          <h1>Cursuri</h1>
          <ul id="cursuri-list" class="sublist">
            <li>bla</li>
            <li>bla</li>
            <li>bla</li>
          </ul>
        </div>
        <div class="signin">
          <h1>Sign-In</h1>
          <ul id="signin-list" class="sublist">
            <li>bla</li>
            <li>bla</li>
            <li>bla</li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <h1>Fii Vorbăreț in orice limbă dorești</h1>
      <div>
        <a href="">Începe să vorbești</a>
      </div>
    </main>
  </body>
</html>
