<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Konkhmer Sleokchher"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
    />
    <title>Vorbăreț.ro</title>
  </head>
  <body>
    <%- include('./header.ejs') %>
    <main>
      <div class="hero">
        <h1 class="hero-title">Fii Vorbăreț în orice limbă dorești</h1>
        <p class="hero-description">
          Explorează cursurile noastre și învață să vorbești o nouă limbă.
        </p>
        <a href="#" class="button">Începe să vorbești</a>
      </div>
      <div class="features">
        <div class="feature">
          <h2 class="feature-title">Cursuri interactive</h2>
          <p class="feature-description">
            Învață prin exerciții interactive și simulări realiste.
          </p>
        </div>
        <div class="feature">
          <h2 class="feature-title">Lecții personalizate</h2>
          <p class="feature-description">
            Adaptăm conținutul la nivelul tău și ritmul de învățare.
          </p>
        </div>
        <div class="feature">
          <h2 class="feature-title">Progresul tău</h2>
          <p class="feature-description">
            Urmărește progresul tău și deblochează noi lecții și realizări.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
