<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/profileStyles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Konkhmer Sleokchher"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./header.ejs') %>

    <main>
      <div class="profileContainer">
        <h1>Profile Page</h1>
        <div class="profileInfo">
          <h2>Welcome, <%= locals.user %></h2>
        </div>
        <div class="profileActions">
          <form action="/change-username" method="POST">
            <label for="newUsername">Change Username:</label>
            <input
              type="text"
              id="newUsername"
              name="newUsername"
              placeholder="Enter new username"
              required
            />
            <input type="submit" value="Change" />
          </form>
          <form action="/change-password" method="POST">
            <label for="currentPassword">Current Password:</label>
            <input
              type="password"
              id="currentPassword"
              name="currentPassword"
              placeholder="Enter current password"
              required
            />
            <label for="newPassword">New Password:</label>
            <input
              type="password"
              id="newPassword"
              name="newPassword"
              placeholder="Enter new password"
              required
            />
            <input type="submit" value="Change" />
          </form>
          <a href="/profil/logout" class="logoutButton">Logout</a>
        </div>
      </div>
    </main>
  </body>
</html>
