body {
  background-color: #ffffff;
  font-family: "Konkhmer Sleokchher";
  color: #333333;
}

header {
  background-color: #ffd24c;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 5em;
  padding-left: 3em;
  padding-right: 3em;
}

.navContainer {
  background-color: #ffe69a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.navContainer > div {
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}

.navContainer > div ul {
  display: none;
  list-style: none;
  left: 0;
  position: absolute;
  margin-top: -0.1em;
  background-color: #ffd24c;
  padding-right: 3em;
}

.navContainer div:hover ul {
  display: block;
}
