<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Lesson 1 - English Course</title>
    <link rel="stylesheet" href="/css/lessonStyles.css" />
  </head>
  <body>
    <%- include('../../header.ejs') %>
    <main>
      <div class="lesson-container">
        <h1 class="lesson-title">
          Lesson 1: NUMERELE ÎN ENGLEZĂ DE LA 1 LA 100
        </h1>
        <p class="lesson-description">
          In this lesson, we will cover the basics of the course.
        </p>
        <div class="lesson-content">
          
      </div>
    </main>
  </body>
</html>
