<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="lessonStyle.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('..../header.ejs') %>
    <main>
      <div class="lesson-container">
        <div class="lesson-header">
          <h1>Lesson Title</h1>
          <div class="progress-bar">
            <div class="progress"></div>
          </div>
        </div>
        <div class="lesson-content">
          <p>Lesson content goes here</p>
        </div>
      </div>
    </main>
  </body>
</html>
